body{
  background-image: url("https://wallpapercave.com/wp/wp1979062.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  padding: 0;
  margin: 0;
}
section{
  position: relative;
  margin: auto;
  margin-top: 3rem;
  width: 400px;
  height: 400px;
  background-color: none;
}
h1{
  color : white;
  font-family: 'Press Start 2p',sans-serif;
  font-size: 2rem;
}
button{
  margin-top: 3rem;
  padding: 1% 4%;
  text-decoration: none;
  font-family: 'Press Start 2p',sans-serif;
  color: white;
  background-color: #92CD41;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
  border-left: 6px black solid;
  border-right: 6px black solid;
  text-shadow: 10px;

}
button::before{

}
button:hover{
  background-color: #76c442;
}
.invisible{
  position: absolute;
  width: 20px;
  height: 20px;

  visibility: hidden;
}
.no-food{
  visibility: hidden;
}
.food{
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
