body{
  background-color: blue;
  text-align: center;
  padding: 0;
  margin: 0;
}
section{
  position: relative;
  margin: auto;
  margin-top: 3rem;
  width: 400px;
  height: 400px;
  background-color: white;
}
h1{
  font-size: 1.3rem;
}
button{
  margin-top: 3rem;
  padding: 1% 4%;
  background-color: white;
  border-color: red;
  text-shadow: 10px;
  border-radius: 10px;
}
button::before{
  border-radius: 100%;
}
button:hover{
  background-color: yellow;
}
.invisible{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 20%;
  visibility: hidden;
}
.no-food{
  visibility: hidden;
}
.food{
  position: relative;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 100%;
}
